extends layout

block content
	h3 About
	p 
		strong classicalrad.io 
		| is a pet project by 
		a(href='http://clipperhouse.com') Matt Sherman
		|. He is also the founder of 
		a(href='http://alikewise.com') Alikewise.com
		|  and is on staff at 
		a(href='http://http://stackexchange.com/about/team') Stack Overflow.

	p.q	What’s it for?
	p 	To provide a simple, distraction-free way of listening to my favorite classical stations. Maybe they’re your favorites too.
	p 	I’m also partial to terrestrial, local radio with real DJs telling you about the weather.
	p.q	It doesn’t have my favorite station.
	p   Let me know! mwsherman -at- gmail.
	p.q	It doesn’t display the titles of the pieces.
	p 	The DJ will tell you.
	p.q	It doesn’t display the album covers.
	p 	Guys with powdered wigs standing next to spinets, you mean? I can do without.
	p.q	What’s the technology?
	p 	I built it with node.js. 
		a(href='http://mediaelementjs.com/') MediaElement.js
		|  proved very helpful. Here’s the 
		a(href='https://github.com/clipperhouse/classicalrad.io') source code
		| . It’s hosted on 
		a(href='https://devcenter.heroku.com/articles/nodejs') Heroku
		| . 
