doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(name='viewport', content='width = 360')
		link(rel='shortcut icon', href='/favicon.ico')
		block head
	body(class='#{bodyclass}')
		h1.title
			a(href='/') classicalrad.io
		block content
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		script(src='/javascripts/jQuery.fastClick.js')
		script
			$("a").fastClick(function () {
				top.window.location.href=$(this).attr('href');
			});
		block js

