doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(name="viewport", content="width = 360")
		block head
	body(class='#{bodyclass}')
		h1.title
			a(href='/') classicalrad.io
		block content
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		block js

