doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='/mediaelement/mediaelement-and-player.min.js')
    link(rel='stylesheet', href='/mediaelement/mediaelementplayer.min.css')
  body
    block content

