doctype html
html
	head
		title= title
		!= css('/stylesheets/bootstrap.min.css')
		!= css('/stylesheets/style')
		meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3')

		link(rel='shortcut icon', href='/favicon.ico')
		meta(name='description', content='A distraction-free directory and player for classical radio stations.')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		block head
	body(class='#{bodyclass}')
		h1.title
			a(href='/') classicalrad.io
		block content
		#footer
			a.home(href='/') home
			a.about(href='/about') about
		!= js('/javascripts/site.js')
		block js
		script.
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-39029303-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
