extends layout

block content
	h3 #{station.name}
		span #{station.location}
	audio(src='#{stream_url}', type='audio/mpeg', id='player', autoplay='true')
	#status Click to play
	span.pop(title='click to play in a small pop-up window', data-url='#{pop_url}')

block head
	!=js('/mediaelement/mediaelement-and-player.js')
	!=js('/javascripts/player.js')