extends layout

block content
	.station
		h1 #{station.name} 
			span #{station.location}
		audio(src='#{station.stream_url}', type='audio/mp3', controls='controls', id='player')
		div#control
		p#status Loading...
	p
		a(href='/') home
	script
		MediaElement('player', {success: function(me) {
			var control = $('#control');
			var status = $("#status")
			me.play();
			
			me.addEventListener('timeupdate', function() {
				status.text("Playing for " + Math.round(me.currentTime) + " seconds");
			}, false);
			
			control.click(function() {
				if (me.paused)
					me.play();
				else
					me.pause();
			});

			me.addEventListener('play', function() {
				control.addClass('playing');
			}, false);

			me.addEventListener('pause', function() {
				control.removeClass('playing');
			}, false);
		}});