extends layout

block content
	h3 #{station.name} 
		span #{station.location}
	div#control
	p#status Loading...
	p.return
		a(href='/') return to list
	audio(src='#{station.stream_url}', type='audio/mp4', id='player')

block js
	script(src='/mediaelement/mediaelement.min.js')
	script(src='/javascripts/player.js')

block head
	link(rel='stylesheet', href='/mediaelement/mediaelementplayer.min.css')

