body {
  padding: 15px 20px;
  font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h1 a,
h2 a,
h3 a,
h4 a {
  color: inherit;
  text-decoration: none;
}
h1 span,
h2 span,
h3 span,
h4 span {
  font-size: 14px;
}
h1.title {
  margin-bottom: 20px;
}
body.station audio,
body.station object,
body.station embed {
  display: none;
}
body.station #control {
  background-image: url(audio.png);
  background-repeat: no-repeat;
  width: 92px;
  height: 92px;
  cursor: pointer;
  margin-bottom: 10px;
}
body.station #control.playing {
  background-position: -92px 0;
}
body.station #status {
  margin: 10px auto;
}
body.station p.return {
  margin-top: 15px;
}
