body {
  padding: 15px 20px;
  font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a, a:visited, a:active {
	color: inherit;
	text-decoration: none;
}

h1, h2, h3, h4 {
	a {
		color: inherit;
		text-decoration: none;
	}
	span {
		font-size: 14px;
		display: inline-block;
		padding-left: 12px;
		white-space: nowrap;
	}
	margin: 0 0 15px 0;
}

h1.title {
	margin-bottom: 20px;
}

span.pop {
	display: inline-block;
	width: 14px;
	height: 12px;
	background-image: url(/stylesheets/pop.png);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}


a.home {
	display: inline-block;
	margin-right: 20px;
}

#footer {
	margin-top: 20px;
	padding: 20px 0;
}

body.home {
	span.pop {
		padding: 0 15px;
		margin-left: 10px;
		opacity: 0;
		transition:opacity 0.2s linear;
		-webkit-transition: opacity 0.2s linear;
		visibility:hidden;
	}
	h3:hover {
		> span.pop {
			opacity: 0;
			visibility:visible;
		}
	}
	a.home {
		display: none;
	}
	#surprise {
		display: none;
	}
	p.more a {
		cursor: pointer;
	}
}

body.station {
	.me-plugin, .mejs-mediaelement, audio, embed {
		width: 0;
		height: 0;
	}
	.mejs-offscreen,{
		display: none;
	}
	.mejs-playpause-button {
		button {
			border: 0;
			border-radius: 45px;
			background-repeat: no-repeat;
			background-color: #333;
			background-image: url(/stylesheets/audio.png);
			width: 92px;
			height: 92px;
			cursor: pointer;
			margin-bottom: 10px;
			display: block;
		}
		&.mejs-pause {
			button {
				background-position: -92px 0;
			}			
		}
	}

	#control {
		border-radius: 45px;
		background-repeat: no-repeat;
		background-color: #333;
		background-image: url(/stylesheets/audio.png);
		width: 92px;
		height: 92px;
		cursor: pointer;
		margin-bottom: 10px;
		&.playing {
			background-position: -92px 0;
		}
	}
	#status{
		margin: 10px auto;
	}
	p.return {
		margin-top: 15px;
	}
}

body.about {
	max-width: 640px;
	p {
		margin-bottom: 20px;
		&.q {
			font-weight: bold;
		}
		a, a:visited, a:active {
			color: rgb(0, 88, 189);
		}
	}
	.about {
		display: none;
	}
}

body.pop {
	p.return, span.pop {
		display: none;
	}
	#footer {
		display: none;
	}
}

body.mobile {
	span.pop {
		display: none;
	}
	h3:hover {
		span.pop {
			display: none;
		}
	}
}

a, button
{
    -ms-touch-action: manipulation; /* IE10  */
    touch-action: manipulation;     /* IE11+ */
}

button:active {
	outline: none;
	border: none;
}