body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.station {
	h1 > span {
		font-size: 14px;
	}
	audio {
		display: none;
	}
	div#control {
		background-image: url(audio.png);
		width: 92px;
		height: 92px;
		cursor: pointer;
		&.playing {
			background-position: -92px 0;
		}
	}
}
